.header {
    margin-bottom: 30px;
}

.header-btn {
    width: 150px;
    height: 50px;
    margin-left: 10px;
}

.filter {
    margin-bottom: 20px;
}

.input-group {
    padding-bottom: 10px;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.modal-window {
    display: none; /* Flex for beautiful work */
    flex-flow: column;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.modal-window--login {
    background-color: white;
}

.modal-window__content-wrapper {
    background-color: white;
    width: 60%;
    min-height: 50%;
    margin: 40px auto;
    border: 1px solid #0d6efd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: start;
}

.close {
    color: #0d6efd;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-form {
    width: 50%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 50px
}

.btn-wrapper {
    text-align: end;
}

.card {
    max-width: 500px;
}

.bg-grey {
    background-color: rgba(242, 242, 242, 0.96);
}

.card__content--hidden {
    display: none;
}

.card__show-more--hidden {
    display: none;
}

.text-muted--hidden {
    display: none;
}

.card__edit--hidden {
    display: none;
}

.card__hide--hidden {
    display: none;
}

.card__select--hidden {
    display: none;
}

.visit-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#root {
    list-style-type: none;
}
#visitPatient{
    text-transform: capitalize;
}
/*Sortable ghost style */
.blue-background-class{
    background-color: #0d6efd;;
}